# Tuples
+ tuples are immutable

In [124]:
# creating tuples 
t1 = ()
print(t1)
# create a tuple with a single item
t2 = (2,) # single item tuple
print(type(t2))

t = (1,2,3,4) # homo 
print(t)

t3 = (1,2.5,True,'ayush',[1,2,4],{1:2}) # hetro
print(t3)

t4 = (1,2,3,(4,5)) # 2D tuple

t6 = tuple('hello')
print(t6)

()
<class 'tuple'>
(1, 2, 3, 4)
(1, 2.5, True, 'ayush', [1, 2, 4], {1: 2})
('h', 'e', 'l', 'l', 'o')

In [125]:
# accessing items 
# indexing 
t = (1,2,4,5,3,4,4,5)
print(t[1])

# slicing
print(t[-1:-6:-1])

2
(5, 4, 4, 3, 5)

Tuples are immutable so tuples cannot can be edited,we cannot add item and we cannot delete particular item in the tuple we can delete whole tuple but not the item of the tuple

operations on tuples

In [126]:
# + and *
t1 = (1,2,4,5)
t2 = (6,7,8,9)
print(t1 + t2)

# membership
1 in t1

# iteration
for i in t1:
    print(i)

(1, 2, 4, 5, 6, 7, 8, 9)
1
2
4
5

Tuple function

In [127]:
#len , sum , min , max , sorted

In [128]:
# count 
t1.count(2)

1

In [129]:
# index
t1 = (1,2,4,5)
t1.index(4)

2

Differnce between tupe and list
+ syntax 
+ mutability - immutable data types are faster than mutable data types
+ speed
+ Memory
+ Built in functionality
+ Error prone 
+ Usability

In [130]:
import time 
t1 = time.time()
l = tuple(range(100000000))
t2 = time.time()
print('time taken ', time.time() - t1 )

time taken  8.30691409111023

In [131]:
print('ayush')

ayush

why use tuples

In [132]:
# tuples unpacking
a,b = (1,2)

In [133]:
a = 1
b = 2
a,b = b,a 
# value swap

In [134]:
a,b,*args = (1,2,4,5,5,6,6)
print(a,b)
print(args)

1 2
[4, 5, 5, 6, 6]

In [135]:
# zipping 
a = (1,2,4,4)
b = (3,4,3,2)
tuple(zip(a,b))

((1, 3), (2, 4), (4, 3), (4, 2))

# sets
A set is an unordered collection of items. Every set element is unique (no duplicate) and must be immutable (cannot be changed). However, a set itself is mutable. we can add or remove items from it.
<br>
Sets can also be used to perform mathematical set operation like union, intersection , symmetric differnce ,etc.

characterstics:
+ Unordered
+ Mutable
+ No duplicates
+ Can't contain mutable data types

In [136]:
# empty 
s = set()
s1 =  {} # dicitonay
print(type(s))

<class 'set'>

 accessing items 
 <br>
 indexing is not possible in sets as it is unordered
 so slicing is aslo not possible

In [137]:
# adding items 
s = {1,2,4}
s.add(5)
s.update([7,8,9])
print(s)

{1, 2, 4, 5, 7, 8, 9}

In [138]:
# Deleting items
s = {1,2,3,4,5}
print(s)
# del s

# discard
s.discard(2)
# print(s)

# remove
s.remove(4)
# discard don't throw error if it does not get the item that given as argument 
# but the remove will throw an error 

# pop
s.pop()
print(s)

# clear
s.clear()
print(s)

{1, 2, 3, 4, 5}
{3, 5}
set()

sets operations

In [139]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

# union(|)
s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8}

In [140]:
# Intersection
s1 & s2

{4, 5}

In [141]:
# Difference(-)
s1 - s2
s2 - s1

{6, 7, 8}

In [142]:
# Symmetric difference(^)
s1 ^ s2

{1, 2, 3, 6, 7, 8}

In [143]:
# Membership differnce(^)
1 not in s1

False

In [144]:
# Iteration 
for i in s2:
    print(i)

4
5
6
7
8

Set function

In [145]:
# len , sum , min , max , sorted

In [146]:
# union / update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
s1.union(s2)
s2.update(s1)
print(s2)
print(s1)

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5}

In [147]:
# intersection / intersection_update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
s1.intersection(s2)
s1.intersection_update(s2)
print(s1)

{4, 5}

In [148]:
# differnce / difference_update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
s1.difference(s2)
s1.difference_update(s2)
print(s1)

{1, 2, 3}

In [149]:
# symmetric_difference / symmertic_differnce_update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
s1.symmetric_difference(s2)
s2.symmetric_difference_update(s2)

In [150]:
# isdisjoint / issubset / issuperset
s1 = {1,2,3,4,5}
s3 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
# s1.isdisjoint(s2)
# s2.issubset(s1)
s1.issuperset(s3)

True

In [151]:
# copy 
s1 = {1,2,3,4,5}
s = s.copy()
print(s1)

{1, 2, 3, 4, 5}

# Frozenset
Frozen set is just an immuatable version of a Python set object.

In [152]:
# create frozenset
fs = frozenset([1,2,3])
print(fs)

frozenset({1, 2, 3})

In [153]:
# what works and what does not 
# works -> all read funcitons
# does't work -> write operations

In [154]:
# when to use
# 2D sets
# frozen set are immutable so 2D frozen set are allowed
fs = frozenset([1,2,frozenset([3,4])])
fs

frozenset({1, 2, frozenset({3, 4})})

Set comprehension

In [155]:
{i**2 for i in range(1,11) if i%2==0}

{4, 16, 36, 64, 100}

In [156]:
# {{(i*j for i in range(1,4))} for j in range(1,4)}

# Dictionary 
<br>
Dicitionary in Python is a collection of keys values , used to store data value like a map, which , unlike other data types which hold only a single value as an element.<br>
In some languages it is known as map ir assosiative arrays.<br>

dict = {'name':'ayush', 'age': 23 ,'gender':'male'}

Characterstics:
+ mutable
+ Indexing has no meaning 
+ Keys can't be duplicated
+ keys can't be mutable item

In [157]:
# creating a dictionary

# empyty dictonary
d = {}
print(type(d))

# 1D dictionary
{'name':'ayush','gender':'make'}

# with mixed keys
{(1,2,3):1,'hello':'world'}

# 2D dictionary
s = {
    'name':'ayush',
    'college':'arya',
    'sem':4,
    'subject':{
        'dsa':50,
        'maths':67,
        'english': 34
    }
}

print(s)

# using sequence and dict function
d = dict([ (1,1),('name','ayush'),('age',19)] )
d

# duplicate keys 
d1 = {'name':'ayush','name':'santosh'}
d1

# mutable items as keys 
# d3 = {'name':'ayush' , [1,2,4]:3} 
d3 = {'name':'ayush',(1,2,3):3}
d3

<class 'dict'>
{'name': 'ayush', 'college': 'arya', 'sem': 4, 'subject': {'dsa': 50, 'maths': 67, 'english': 34}}

{'name': 'ayush', (1, 2, 3): 3}

Accessing items

In [158]:
my_dict = {'name':'ayush','age':18}

# []
my_dict['age']

# get
my_dict.get('age')

# accessing in 2d dict
s['subject']['maths']

67

Adding new Key-value pair

In [164]:
my_dict['gender'] = 'male'
my_dict['weight'] = 84
my_dict

s['subject']['ds'] = 98

Remove key value pair

In [160]:
# pop 
d1 = {'name': 'ayush', 'age': 18,3:3, 'gender': 'male', 'weight': 84}

d1.pop(3)

3

In [161]:
# pop item 
# d1.popitem()
# d1.popitem()
# popitem deletes the last key value pair of the dictionary

In [162]:
# del
# del d1 # deletes the entire dictionary
d1 = {'name': 'ayush', 'age': 18,3:3, 'gender': 'male', 'weight': 84}
del d1['name']
d1

{'age': 18, 3: 3, 'gender': 'male', 'weight': 84}

In [163]:
# clear
ddd = {'name': 'ayush', 'age': 18,3:3, 'gender': 'male', 'weight': 84}
ddd.clear()
ddd

{}

In [165]:
del s['subject']['maths']

Editing key value pair

In [169]:
s['sem'] = 5
s['subject']['dsa'] = 85
s

{'name': 'ayush',
 'college': 'arya',
 'sem': 5,
 'subject': {'dsa': 85, 'english': 34, 'ds': 98}}

Dictionary Operation
+ Membership
+ Iteration

In [4]:
s = {
    'name':'ayush',
    'college':'arya',
    'sem':4,
    'subject':{
        'dsa':50,
        'maths':67,
        'english': 34
    }
}

print(s)

'name' in s # membership operation works on the keys of dictionary.

{'name': 'ayush', 'college': 'arya', 'sem': 4, 'subject': {'dsa': 50, 'maths': 67, 'english': 34}}

True

In [2]:
d = {
    'name':'ayush',
    'age':19,
    'gender':'male'
}

for i in d:
    print(i,d[i])

name ayush
age 19
gender male

Dictionary Functions

In [6]:
# len , sorted, min ,max
len(d)
sorted(d)

['age', 'gender', 'name']

In [9]:
# items / keys / values 
print(d)
print(d.items())
print(d.keys())
print(d.values())

{'name': 'ayush', 'age': 19, 'gender': 'male'}
dict_items([('name', 'ayush'), ('age', 19), ('gender', 'male')])
dict_keys(['name', 'age', 'gender'])
dict_values(['ayush', 19, 'male'])

In [10]:
# update
d1 = {1:2,3:4,4:5}
d3  = {4:5,6:8}
d1.update(d3)
d1

{1: 2, 3: 4, 4: 5, 6: 8}

# Dictionary Comprehension

In [11]:
# print 1st 10 numbers and their squares
{i:i**2 for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [17]:
# using existing dict
distances = {'delhi': 1000 ,'mumbai':2000, 'banglore':3000}
{key: value*0.621371 for (key,value) in distances.items()}

{'delhi': 621.371, 'mumbai': 1242.742, 'banglore': 1864.113}

In [21]:
# using zip

days = ['sunday','monday','tuesday','wednesday','thursday','friday','saturday']
temp = [30.5, 32.6,33.4,29.8,30.2,29.9]
# dict(zip(days,temp))
{key:value for (key ,value) in zip(days,temp)}

{'sunday': 30.5,
 'monday': 32.6,
 'tuesday': 33.4,
 'wednesday': 29.8,
 'thursday': 30.2,
 'friday': 29.9}

In [24]:
# using if condition
products = {'phone':10,'laptop':0,'charger':32,'tablet':0}
{key:value for (key,value)in products.items() if value>0}

{'phone': 10, 'charger': 32}

In [26]:
# Nested Comprehension
# print tables of number from 2 to 4
{i:{j:i*j for j in range(1,11)}for i in range(2,5)}

{2: {1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20},
 3: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27, 10: 30},
 4: {1: 4, 2: 8, 3: 12, 4: 16, 5: 20, 6: 24, 7: 28, 8: 32, 9: 36, 10: 40}}

In [27]:
n = int(input('enter-->'))
{i:{j:i*j for j in range(1,11)}for i in range(1,n)}

{1: {1: 1, 2: 2, 3: 3, 4: 4, 5: 5, 6: 6, 7: 7, 8: 8, 9: 9, 10: 10},
 2: {1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20},
 3: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27, 10: 30},
 4: {1: 4, 2: 8, 3: 12, 4: 16, 5: 20, 6: 24, 7: 28, 8: 32, 9: 36, 10: 40},
 5: {1: 5, 2: 10, 3: 15, 4: 20, 5: 25, 6: 30, 7: 35, 8: 40, 9: 45, 10: 50},
 6: {1: 6, 2: 12, 3: 18, 4: 24, 5: 30, 6: 36, 7: 42, 8: 48, 9: 54, 10: 60}}