# Task : Session 1
Solve these questions own your own and try to test yourself what you have learned in the session.

Happy Learning!

### Q1 :- Print the given strings as per stated format.

**Given strings**:
```
"Data" "Science" "Mentorship" "Program"
"By" "CampusX"
```
**Output**:
```
Data-Science-Mentorship-Program-started-By-CampusX
```

Concept- [Seperator and End]

In [35]:
# Write your code here
'-'.join(['data','science','mentorship','program','by','campus'])

'data-science-mentorship-program-by-campus'

### Q2:- Write a program that will convert celsius value to fahrenheit.

In [36]:
# Write your code here
c = 32
F = (9/5)*c + 32
F

89.6

### Q3:- Take 2 numbers as input from the user.Write a program to swap the numbers without using any special python syntax.

In [37]:
# Write your code here
a = int(input('Enter the first number'))
b = int(input('Enter the second number'))
temp = ''
temp = a
a = b
b = temp
a,b

(3, 3)

### Q4:- Write a program to find the euclidean distance between two coordinates.Take both the coordinates from the user as input.

In [38]:
# Write your code here
x2 = int(input('Enter'))
x1 = int(input('Enter'))
y1 = int(input('Enter'))
y2 = int(input('Enter'))
D = ( x2 - x1 )*2 + ( y1- y2 )*2
D

0

### Q5:- Write a program to find the simple interest when the value of principle,rate of interest and time period is provided by the user.

In [39]:
# Write your code here
t = int(input('enter the time '))
p = int(input('Enter the principal amount'))
r = int(input('Enter the rate of intrest'))
si = (p*t*r)/100
si

0.27

### Q6:- Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.

For example:
Input:
heads -> 4
legs -> 12
<br>
Output:
dogs -> 2
chicken -> 2

In [40]:
# Write your code here
heads = int(input('Enter the amount of the head'))
legs = int(input('enter the amount of heads'))
chickens = None
dogs = None
for c in range(heads+1):
    d = heads -c 

    if c*2 and d*4 == legs:
        chickens = c
        dogs = d 
        break

if chickens is not None and dogs is not None:
    print(f'chickens -> {chickens}')
    print(f'dogs -> {dogs}')
else:
    print('invalid input')

invalid input

### Q7:- Write a program to find the sum of squares of first n natural numbers where n will be provided by the user.

In [41]:
# Write your code here
n  = int(input('enter'))
sum = 0
for i in range(1,n+1):
    sum += i
sum

6

### Q8:- Given the first 2 terms of an Arithmetic Series.Find the Nth term of the series. Assume all inputs are provided by the user.

In [42]:
# Write your code here
a = int(input('enter'))
b = int(input('enter'))
Nth = int(input('enter'))
d = b-a
Nth =a+(Nth-1)*d
Nth

3

### Q9:- Given 2 fractions, find the sum of those 2 fractions.Take the numerator and denominator values of the fractions from the user.

In [43]:
# Write your code here
from math import gcd
num1 = int(input('enter'))
den1 = int(input('enter'))
num2 = int(input('enter'))
den2 = int(input('enter'))

def lcm(x,y):
    return x*y // gcd(x,y)

common_deno = lcm(den1 , den2)
num1 *= common_deno // den1
num2 *= common_deno // den2
result =  num1 + num2
result

6

### Q10:- Given the height, width and breadth of a milk tank, you have to find out how many glasses of milk can be obtained? Assume all the inputs are provided by the user.



Input:<br>
Dimensions of the milk tank<br>
H = 20cm, L = 20cm, B = 20cm
<br><br>
Dimensions of the glass<br>
h = 3cm, r = 1cm

In [44]:
# Write your code here
# dimesions of the tank
h = int(input('enter'))
l = int(input('enter'))
b = int(input('enter'))

# dimensions of glass 
H = 3 #cm
r = 1 #cm
volume_of_tank = h*l*b

volume_of_glass = 3.14 *r*H

result = volume_of_tank / volume_of_glass
print(f'number of glass of milk from the milk tank of size{volume_of_tank} is :-> {result}')

number of glass of milk from the milk tank of size27 is :-> 2.8662420382165603